#carrito{
    display: flex;
    width: 100%;
    flex-direction: column;
   
}

.item-carrito{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}


.item-carrito > img {
    width: 18rem;
}

.item-carrito > button {
    width: 150px;
    height: 20px;
    margin: 15px;
}